
body {
    margin: 40px 0 0 0;
    padding: 0;
    background-color: #21222C;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}
h1{
    color: #e5e5e5;
    font-size: 40px;
}

#screen {
    border: 1px solid #CCC;
    background-color: #44475A;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    width: 700px;
    height: 700px;
    -webkit-box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.19);
    box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.19);
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
}

#score-table {
    color: #e5e5e5;
    font-size: 13px;
    vertical-align: top;
    position: fixed;
    -webkit-box-shadow: 0px 4px 17px 0px rgba(243, 243, 243, 0.368);
    -moz-box-shadow: 0px 4px 17px 0px rgba(85, 85, 85, 0.19);
    box-shadow: 0px 4px 17px 0px rgba(58, 58, 58, 0.19);
padding: 5px;
    top: 100;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;

}

#score-table tr.header td {
    border-bottom: 1px solid #CCC;
    padding-bottom: 8px;
    font-weight: bold;
}

#score-table tr.footer td {
    border-top: 1px solid #CCC;
    font-size: 11px;
}

#score-table td {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    text-transform: uppercase;
}

#score-table .socket-id {
    font-weight: normal;
    color: #e5e5e5;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block
}

#score-table .score-value {
    font-weight: bold;
    color: #ffffff;
    text-align: right;
}

#score-table .current-player .socket-id,
#score-table .current-player .score-value {
    color: #bdaa27;
}
